@charset "UTF-8";

@font-face {
  font-family: "Attentica";
  font-display: swap;
  src: url("../fonts/Attentica.woff2") format("woff2"), url("../fonts/Attentica.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter_24pt-Regular.woff2") format("woff2"), url("../fonts/Inter_24pt-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter_24pt-SemiBold.woff2") format("woff2"), url("../fonts/Inter_24pt-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter_24pt-Medium.woff2") format("woff2"), url("../fonts/Inter_24pt-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  font-display: swap;
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Raleway;
  font-display: swap;
  src: url("../fonts/Raleway-ExtraBold.woff2") format("woff2"), url("../fonts/Raleway-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: Raleway;
  font-display: swap;
  src: url("../fonts/Raleway-Medium.woff2") format("woff2"), url("../fonts/Raleway-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  font-display: swap;
  src: url("../fonts/OpenSans-SemiBold.woff2") format("woff2"), url("../fonts/OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: ReemKufiFun;
  font-display: swap;
  src: url("../fonts/ReemKufiFun-Bold.woff2") format("woff2"), url("../fonts/ReemKufiFun-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: ReemKufiFun;
  font-display: swap;
  src: url("../fonts/ReemKufiFun-Medium.woff2") format("woff2"), url("../fonts/ReemKufiFun-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: ReemKufiFun;
  font-display: swap;
  src: url("../fonts/ReemKufiFun-Regular.woff2") format("woff2"), url("../fonts/ReemKufiFun-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: ReemKufiFun;
  font-display: swap;
  src: url("../fonts/ReemKufiFun-SemiBold.woff2") format("woff2"), url("../fonts/ReemKufiFun-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Light.woff2") format("woff2"), url("../fonts/Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Raleway;
  font-display: swap;
  src: url("../fonts/Raleway-Regular.woff2") format("woff2"), url("../fonts/Raleway-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Raleway;
  font-display: swap;
  src: url("../fonts/Raleway-SemiBold.woff2") format("woff2"), url("../fonts/Raleway-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: StSign;
  font-display: swap;
  src: url("../fonts/StSign.woff2") format("woff2"), url("../fonts/StSign.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: St;
  font-display: swap;
  src: url("../fonts/St.woff2") format("woff2"), url("../fonts/St.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  background-color: #FCFCFC;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

.card__side--back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.swiper-button-next {
  position: absolute;
  margin-left: 75vw;
}

.swiper-custom-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 13px;
  font-family: var(--secondary-ff);
  font-size: 17px;
  line-height: 29px;
  font-weight: 500;
  color: #961600;
}

.swiper-custom-pagination .swiper-pagination-bullet {
  width: auto;
  height: auto;
  border-radius: 0;
  background-color: transparent;
  opacity: 1;
  text-align: center;
}

.swiper-custom-pagination .swiper-pagination-bullet:last-child {
  display: none;
}

.swiper-custom-pagination .number {
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.swiper-custom-pagination .line {
  opacity: 0.3;
  height: 3px;
  width: 33px;
  background-color: #961600;
  display: block;
  border-radius: 4px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.swiper-custom-pagination .swiper-pagination-bullet-active .number,
.swiper-custom-pagination .swiper-pagination-bullet-active .line {
  opacity: 1;
}

.swiper-custom-pagination .swiper-pagination-bullet-active .line {
  width: 33px;
}

.swiper-custom-pagination1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 14px;
  font-family: var(--secondary-ff);
  font-size: 17px;
  line-height: 29px;
  font-weight: 500;
  color: #961600;
}

.swiper-custom-pagination1 .swiper-pagination-bullet {
  width: auto;
  height: auto;
  border-radius: 0;
  background-color: transparent;
  opacity: 1;
  text-align: center;
}

.swiper-custom-pagination1 .swiper-pagination-bullet:last-child {
  display: none;
}

.swiper-custom-pagination1 .number {
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.swiper-custom-pagination1 .line {
  opacity: 0.3;
  height: 3px;
  width: 33px;
  background-color: #961600;
  display: block;
  border-radius: 4px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.swiper-custom-pagination1 .swiper-pagination-bullet-active .number,
.swiper-custom-pagination1 .swiper-pagination-bullet-active .line {
  opacity: 1;
}

.swiper-custom-pagination1 .swiper-pagination-bullet-active .line {
  width: 33px;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }

  70% {
    -webkit-transform: rotateY(200deg);
            transform: rotateY(200deg);
  }

  100% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }

  70% {
    -webkit-transform: rotateY(200deg);
            transform: rotateY(200deg);
  }

  100% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
}

@-webkit-keyframes rotate-inverse {
  0% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }

  70% {
    -webkit-transform: rotateY(-20deg);
            transform: rotateY(-20deg);
  }

  100% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
}

@keyframes rotate-inverse {
  0% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }

  70% {
    -webkit-transform: rotateY(-20deg);
            transform: rotateY(-20deg);
  }

  100% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
}

.none {
  display: none;
}

.hidden {
  visibility: hidden;
}

.sales-bot {
  background-color: #FFEAC8;
}

@-webkit-keyframes slide-in {
  0% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
    opacity: 0;
  }

  7% {
    -webkit-transform: translateY(-77px);
            transform: translateY(-77px);
    opacity: 1;
  }

  60% {
    -webkit-transform: translateY(-77px);
            transform: translateY(-77px);
    opacity: 1;
  }

  75% {
    -webkit-transform: translateY(-77px);
            transform: translateY(-77px);
    opacity: 0;
  }
}

@keyframes slide-in {
  0% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
    opacity: 0;
  }

  7% {
    -webkit-transform: translateY(-77px);
            transform: translateY(-77px);
    opacity: 1;
  }

  60% {
    -webkit-transform: translateY(-77px);
            transform: translateY(-77px);
    opacity: 1;
  }

  75% {
    -webkit-transform: translateY(-77px);
            transform: translateY(-77px);
    opacity: 0;
  }
}

@-webkit-keyframes scroll {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  to {
    -webkit-transform: translateX(calc((-100% - 400px) / 2));
            transform: translateX(calc((-100% - 400px) / 2));
  }
}

@keyframes scroll {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  to {
    -webkit-transform: translateX(calc((-100% - 400px) / 2));
            transform: translateX(calc((-100% - 400px) / 2));
  }
}

@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  33% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }

  66% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  33% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }

  66% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-webkit-keyframes animName {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes animName {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.page {
  background-color: #FCFCFC;
}

.about__bot-container {
  max-width: 91rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0px 15px;
}

.about__top-container {
  width: 91rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 15px;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
}

.about__top {
  background-color: #FFEAC8;
  margin-top: 31px;
  display: -ms-grid;
  display: grid;
}

.about__top-text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  color: #961600;
  font-family: "Inter", sans-serif;
  line-height: 150%;
  font-size: 32px;
  margin-top: 77px;
}

.about__top-hover {
  display: -ms-grid;
  display: grid;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
}

.about__top-hover-text {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
  z-index: 5;
  max-width: 353px;
  position: relative;
  top: 97px;
  left: 114px;
  line-height: 124% !important;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.about__hover-bg {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
  margin-left: auto;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.about__bot-title {
  margin-top: 80px;
}

.about__bot-explain {
  margin-left: auto;
  display: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 72px;
  margin-bottom: 60px;
}

.about__list {
  margin-top: 80px;
  margin-bottom: 100px;
}

.about__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__item:not(:last-child) {
  margin-bottom: 45px;
}

.about__item-counter {
  margin-right: 35px;
  border-radius: 25px;
  background-color: #FFEAC8;
  min-width: 50px;
  height: 50px;
  font-family: "Inter", sans-serif;
  font-size: 36px;
}

.about__item-counter p {
  margin: 8px auto;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.about__item-text {
  max-width: 1120px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.about__item-text p {
  height: 100px;
}

.about__text {
  font-family: "Inter", sans-serif;
  line-height: 160%;
  font-size: 20px;
  color: #3F1E07;
}

.about__text span {
  font-size: 24px;
  line-height: 160%;
  color: #961600;
}

.prices__container {
  max-width: 91.75rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  margin-bottom: 164px;
}

.prices__cards {
  margin-top: 88px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  row-gap: 32px;
  -webkit-column-gap: 32px;
     -moz-column-gap: 32px;
          column-gap: 32px;
}

.prices__cards-top {
  margin-bottom: 74px;
}

.prices__cards-top-slider {
  margin-bottom: 44px;
}

.prices__cards-bot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.prices__card {
  margin-left: auto;
  margin-right: auto;
  width: 343px;
  height: 360px;
  padding: 32px 38px 22px 38px;
  font-family: "Inter", sans-serif;
  background-color: #FFEAC8;
  color: #643513;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.prices .bottom-card .prices__card-title {
  font-size: 30px;
  line-height: 35px;
  letter-spacing: -0.36px;
}

.prices__card-title {
  margin-right: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: "Raleway";
  line-height: 38px;
  font-weight: 600;
  font-size: 32px;
  font-weight: 500;
}

.prices__card-text {
  font-size: 15px;
  line-height: 154%;
  margin-top: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-weight: 400;
  letter-spacing: 0.37px;
}

.prices__card-text a {
  text-decoration: underline;
}

.prices__card-bottom {
  padding-right: 4px;
}

.prices__card-button {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -ms-grid;
  display: grid;
}

.prices__card-button:hover {
  cursor: pointer;
  position: relative;
  top: 2px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.prices__card-button-default {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.prices__card-button-hover {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
  opacity: 0;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.prices__card-price {
  font-weight: 500;
  font-size: 23px;
  line-height: 154%;
  margin-left: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  letter-spacing: 0.37px;
}

.prices__card-time {
  margin-left: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 15px;
  line-height: 154%;
  letter-spacing: 0.5px;
}

.prices__arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: 41px;
}

.prices__arrow .arrow-top {
  position: relative;
}

.prices__arrowimg {
  margin-top: auto;
}

.arrow-slide {
  background-color: #FCFCFC !important;
}

.review__container-top {
  max-width: 91.75rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 15px;
}

.review__bot-title-container {
  max-width: 91.75rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 15px;
}

.review__container-bot {
  z-index: 3;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
  max-width: 91.75rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 15px;
}

.review__title {
  color: #AE2F2F;
  font-family: "Inter", sans-serif;
  font-size: 32px;
  line-height: 150%;
  margin-top: 28px;
  margin-bottom: 45px;
}

.review__name {
  font-family: "Inter", sans-serif;
  font-size: 32px;
  line-height: 150%;
  color: #545454;
}

.review__desc {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 160%;
  color: #545454;
}

.review__bot {
  display: -ms-grid;
  display: grid;
  margin-top: 45px;
  background-color: #fcfcfc;
}

.no-webp .review__bot-title{
  background-image: url("../img/review-decor.png"); }

.review__bot-title {
  padding: 21px 0;
  font-family: "Open sans", sans-serif;
  font-weight: 500;
  font-size: 20px;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 22px;
}

.review__bot-title span {
  font-size: 24px;
}

.review__bot-owner {
  margin-top: 11px;
  margin-left: 12px;
}

.review__bot-text {
  margin-top: 118px;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 160%;
  color: #545454;
  margin-right: 60px;
}

.review__bot-left {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.review__bot-btn {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #961600;
  line-height: 150%;
  position: absolute;
  display: -ms-grid;
  display: grid;
  border-radius: 9px;
  border: 2px solid #961600;
  border-radius: 15px;
  margin-top: 90px;
  z-index: 2;
  white-space: nowrap;
}

.review__bot-btn a {
  padding: 15px 25px;
  z-index: 99;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
}

.review__bot-btn:before {
  width: 229px;
  height: 54px;
  content: "";
  border-radius: 10px;
  margin: 4px;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
}

.review__image-mobile {
  display: none;
}

.mail__container {
  margin-right: 0;
  padding-right: 0;
  padding-left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 99rem;
  margin-left: auto;
  padding-bottom: 300px;
  z-index: 3;
  position: relative;
}

.mail__main {
  margin-top: 140px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding-right: 15px;
}

.mail__upper {
  margin: 0 auto;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  font-family: "Raleway", sans-serif;
}

.mail__title {
  color: #AE2F2F;
  font-size: 36px;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin-right: auto;
  text-align: center;
  line-height: auto;
  margin-left: 12px;
  margin-top: 2px;
}

.mail__write {
  color: #263238;
  font-family: "Open sans", sans-serif;
  text-align: center;
  margin-top: 15px;
  font-size: 20px;
  letter-spacing: 0.6px;
  line-height: 160%;
  font-weight: 400;
}

.mail__tempo {
  font-family: "Inter", sans-serif;
  margin-top: 15px;
}

.mail__tempo span {
  color: #961600;
}

.mail__form {
  margin-bottom: 30px;
}

.mail__lower {
  font-family: "Inter", sans-serif;
  color: #961600;
  font-size: 20px;
  margin-top: 30px;
  margin-left: 68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1000px;
  margin-left: 0;
}

.mail__pin {
  margin-top: 13px;
}

.mail__lower-text {
  font-size: 24px;
  line-height: 150%;
  margin-top: 11px;
  margin-left: 12px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.mail__lower-button {
  font-family: "Inter", serif;
  font-weight: 600;
  margin-right: 0;
  border: 1px solid #961600;
  border-radius: 9px;
  padding: 15px 37px;
}

.mail__decor {
  margin-top: 57px;
}

.mail__disclaimer {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 124%;
  color: #263238;
  opacity: 40%;
  margin-left: auto;
  margin-top: 12px;
  margin-right: 127px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.mail__disclaimer p {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.policy-link {
  text-decoration: underline !important;
}

.form {
  max-width: 1024px;
  font-family: "Open-sans", sans-serif;
  font-size: 20px;
}

.form input[type=text] {
  font-family: "Open-sans", sans-serif;
  width: 100%;
  background-color: #FCFCFC;
  border-bottom: 1px solid #961600;
  line-height: 160%;
  padding-left: 9px;
}

.form input[type=text]:focus {
  outline: none;
}

.form__name {
  margin-top: 50px;
}

.form__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
}

.form__contacts label {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  line-height: 150%;
  color: #961600;
  letter-spacing: 0.55px;
}

.form__contacts label p {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.form__contacts input[type=radio] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  -webkit-transition: 0.2s all linear;
  transition: 0.2s all linear;
  margin-right: 5px;
  top: 6px;
  position: relative;
  margin: 0 10px 0 25px;
  background-color: #FFFFFF;
  outline: 1px solid #961600;
  border: 6px solid #FCFCFC;
}

.form__contacts input[type=radio]:checked {
  background-color: black;
}

.form-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form__telegram {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Inter", sans-serif;
  color: #2AABEE;
  font-weight: 600;
  font-size: 25px;
  letter-spacing: 0.7px;
}

.form__telegram p {
  margin-top: 5px;
  margin-left: 4px;
}

.form__mail {
  font-family: "Open Sans", sans-serif;
  color: #AE2F2F;
  line-height: 150%;
  letter-spacing: 0.5px;
  font-size: 24px;
}

.form__contact-ours {
  margin-top: 39px;
}

.no-webp .form__input textarea{
  background-image: url("../img/textarea-bg.png"); }

.form__input textarea {
  font-family: "Open-sans", sans-serif;
  -webkit-box-sizing: block;
          box-sizing: block;
  resize: none;
  width: 100%;
  background-color: #FCFCFC;
  min-height: 80px;
  margin-top: 30px;
  line-height: 40px;
  font-size: 20px;
  background-repeat: repeat;
  overflow: hidden;
  padding-left: 9px;
}

.form__input textarea:focus {
  outline: none;
}

.offer {
  background-image: url("../img/offer-bg.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.offer__date {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  color: #AE2F2F;
  font-size: 20px;
  margin-left: 45px;
  margin-top: 53px;
  margin-bottom: 20px;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.offer__waffle {
  position: relative;
}

.offer__main {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.offer__main .waffle1 {
  margin-top: 75px;
  right: 3vw;
}

.offer__main .waffle2 {
  margin-top: 200px;
}

.offer__main .waffle3 {
  right: 50px;
}

.offer__main .waffle4 {
  margin-top: 200px;
  left: 3vw;
}

.offer__main img {
  position: relative;
  right: 70px;
  margin-left: auto;
  margin-right: auto;
}

.offer__btn-text {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
}

.offer__btn-text p {
  position: relative;
  z-index: 10;
}

.offer__btn {
  display: -ms-grid;
  display: grid;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  margin-left: auto;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  color: #961600;
  border: 1px solid #961600;
  border-radius: 9px;
  background: transparent;
  z-index: 1;
}

.offer__btn p {
  padding: 15px 37px;
}

.offer__btn:before {
  content: "";
  height: 36px;
  width: 225px;
  position: absolute;
  border-radius: 9px;
  margin-left: 5px;
  margin-top: 4px;
}

.sales-bot__container {
  padding-top: 15px;
  padding-bottom: 15px;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.header__bottom {
  white-space: nowrap;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 400px;
  background-color: #FFEAC8;
  padding: 10px 0;
  -webkit-animation: scroll 20s linear infinite;
          animation: scroll 20s linear infinite;
}

.header__bottom-text {
  font-family: "Raleway", sans-serif;
  color: #961600;
  font-size: 36px;
}

.hero__background {
  position: absolute;
  overflow: hidden;
  width: 100vw;
  max-height: 919px;
}

.hero__background-mob {
  display: block;
  position: absolute;
  overflow: hidden;
  display: none;
  width: 100vw;
  max-height: 881px;
}

.hero__background-mobsmall {
  display: block;
  position: absolute;
  overflow: hidden;
  width: 100vw;
  max-height: 598px;
}

.hero__corner-left {
  position: absolute;
  right: 0;
}

.hero__corner-right {
  position: absolute;
  left: 0;
}

.hero__corner-left-mob {
  position: absolute;
  right: 0;
}

.hero__corner-right-mob {
  position: absolute;
  left: 0;
}

.hero .hero__corner-left-mob,
.hero .hero__corner-right-mob {
  display: block;
}

.hero__body {
  display: -ms-grid;
  display: grid;
  min-height: 919px;
}

.hero__button {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #961600;
  line-height: 150%;
  position: absolute;
  right: 11.615vw;
  top: 119px;
  display: -ms-grid;
  display: grid;
  border-radius: 9px;
  border: 2px solid #961600;
  border-radius: 15px;
  z-index: 2;
  white-space: nowrap;
}

.hero__button p {
  padding: 15px 25px;
  z-index: 99;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
}

.hero__button:before {
  width: 183px;
  height: 52px;
  content: "";
  border-radius: 10px;
  margin: 4px;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
}

.hero__phone {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  top: 132px;
  left: calc((100% - 1700px) / 1.85);
  rotate: 11.52deg;
}

.hero__arc {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
  margin-left: auto;
  margin-right: auto;
  margin-top: 149px;
}

.hero__logo {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
  margin-left: auto;
  margin-right: auto;
  display: -ms-grid;
  display: grid;
  margin-top: 333px;
  z-index: 99;
}

.hero__logo-decor {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
  margin-left: auto;
  margin-right: auto;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-animation: animName 90s linear infinite;
          animation: animName 90s linear infinite;
}

.hero__logo-image {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  z-index: 10;
}

.hero__character {
  z-index: 99;
  display: -ms-grid;
  display: grid;
  position: absolute;
  margin-top: 535px;
  margin-left: 73.854vw;
}

.hero__character-img {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
}

.hero__bubble {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
  margin-left: 149px;
  margin-bottom: 77px;
  opacity: 0;
  -webkit-animation: 10000ms slide-in infinite;
          animation: 10000ms slide-in infinite;
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
  position: relative;
}

.hero__bubble-mobile {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
  opacity: 0;
  display: none;
  position: relative;
  right: 25px;
  top: 77px;
  -webkit-animation: 10000ms slide-in infinite;
          animation: 10000ms slide-in infinite;
  -webkit-animation-delay: 3000ms;
          animation-delay: 3000ms;
}

.hero__character-mob {
  z-index: 99;
  display: -ms-grid;
  display: grid;
  position: absolute;
  margin-top: 378px;
  margin-left: 38.889vw;
}

.hero__character-mob img {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.footer__container {
  margin-top: -300px;
  z-index: 2;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.footer__body {
  min-height: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #FEF1DD;
  padding-right: 11.615vw;
}

.footer__decor {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  position: relative;
  z-index: 9;
}

.footer__decor img {
  z-index: 9;
  position: relative;
  right: 5px;
}

.footer__decor-img {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.footer__text {
  margin-top: 438px;
  color: #961600;
}

.footer__time {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 120%;
}

.footer__time span {
  font-size: 36px;
}

.footer__time-bot {
  font-family: "Open Sans", sans-serif;
  line-height: 80%;
  text-align: end;
  font-size: 20px;
}

.footer__contacts-title {
  margin-top: 90px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  text-align: end;
}

.footer__contacts-tg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin-top: 15px;
}

.footer__contacts-icon {
  margin-top: 2.5px;
  margin-right: 10px;
}

.footer__contacts-text {
  font-family: "Reem Kufi Fun", sans-serif;
  font-size: 20px;
  line-height: 150%;
}

.footer__contacts-wa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin-top: 10px;
}

.footer__contacts-text-wa {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
}

.footer__logo {
  display: none;
  margin-top: 51px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 38px;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (min-width: 671px) {
  .hero__background-mobsmall {
    display: none;
  }

  .hero .hero__corner-left-mob,
  .hero .hero__corner-right-mob {
    display: none;
  }

  .hero__character-mob {
    display: none;
  }
}

@media (min-width: 1025px) {
  .prices__cards-mobile {
    display: none;
  }
}

@media (max-width: 1650px) {
  .about__bot-container {
    max-width: 74rem;
  }

  .about__top-container {
    width: 74rem;
  }

  .about__top-text {
    font-size: 26px;
    margin-top: 76px;
  }

  .about__top-hover-text {
    top: 83px;
    left: 97px;
    max-width: 300px;
  }

  .about__hover-bg img {
    height: 230px;
  }

  .about__bot-title {
    margin-top: 57px;
  }

  .about__list {
    margin-top: 57px;
  }

  .about__item:not(:last-child) {
    margin-bottom: 40px;
  }

  .about__item-counter {
    font-size: 26px;
    min-width: 40px;
    height: 40px;
  }

  .about__item-counter p {
    margin: 7px auto;
  }

  .about__item-text p {
    height: 80px;
  }

  .about__text span {
    font-size: 20px;
  }

  .about__text {
    font-size: 17px;
    line-height: 124%;
  }

  .prices__container {
    max-width: 74rem;
    margin-bottom: 141px;
  }

  .prices__cards {
    margin-top: 41px;
    row-gap: 24px;
    -webkit-column-gap: 24px;
       -moz-column-gap: 24px;
            column-gap: 24px;
  }

  .prices__card {
    padding: 20px 30px;
    width: 278px;
    height: 293px;
  }

  .prices .bottom-card .prices__card-title {
    font-size: 24px;
    line-height: 28px;
  }

  .prices__card-title {
    line-height: 31px;
    font-size: 26px;
  }

  .prices__card-text {
    font-size: 12px;
    letter-spacing: 0.31px;
    line-height: 150%;
  }

  .prices__card-bottom {
    padding-right: 0;
  }

  .prices__card-price {
    font-size: 18px;
    line-height: 150%;
  }

  .prices__card-time {
    font-size: 12px;
    line-height: 150%;
  }

  .prices__arrow .arrow-top img {
    width: 208px;
  }

  .prices__arrow {
    scale: 80%;
    margin-left: 10px;
    position: relative;
    bottom: 1px;
  }

  .prices__arrowimg {
    width: 201px;
    height: 172px;
  }

  .review__container-top {
    max-width: 74rem;
  }

  .review__bot-title-container {
    max-width: 74rem;
  }

  .review__container-bot {
    max-width: 74rem;
  }

  .review__title {
    font-size: 26px;
    margin-bottom: 40px;
  }

  .review__name {
    font-size: 26px;
  }

  .review__name img {
    width: 97px;
    height: 29px;
    margin-top: 5px;
  }

  .review__desc {
    font-size: 17px;
    line-height: 124%;
  }

  .review__bot-title-icon img {
    width: 21px;
    height: 38px;
  }

  .review__bot-text {
    font-size: 17px;
    line-height: 124%;
    margin-right: 48px;
  }

  .review__bot-btn:before {
    border-radius: 14px;
    width: 173px;
    height: 50px;
  }

  .review__bot-btn a {
    padding: 14px 20px;
  }

  .review__image img {
    width: 716px;
    height: 440px;
  }

  .mail__container {
    max-width: 78.5625rem;
    margin-bottom: 141px;
  }

  .mail__main {
    margin-top: 90px;
  }

  .mail__title {
    font-size: 30px;
    margin-left: auto;
  }

  .mail__write {
    font-size: 16px;
    line-height: 145%;
    margin-top: 10px;
  }

  .mail__pin img {
    width: 30px;
    height: 30px;
  }

  .mail__lower-text {
    font-size: 21px;
  }

  .mail__lower-button {
    padding: 15px 26px;
    margin-right: 0;
  }

  .mail__decor {
    margin-top: 92px;
  }

  .mail__decor img {
    width: 265px;
    height: 461px;
  }

  .mail__disclaimer {
    margin-right: 56px;
  }

  .form {
    font-size: 16px;
    max-width: 880px;
  }

  .form input[type=text] {
    line-height: 145%;
  }

  .form__contacts label {
    font-size: 21px;
  }

  .hero__container {
    max-height: 824px;
  }

  .hero__background {
    max-height: 824px;
  }

  .hero .hero__corner-left img,
  .hero .hero__corner-right img {
    width: 270px;
  }

  .hero__body {
    min-height: 824px;
  }

  .hero__button:before {
    border-radius: 14px;
    width: 173px;
    height: 50px;
  }

  .hero__button {
    right: 8.889vw;
  }

  .hero__button p {
    padding: 14px 20px;
  }

  .hero__phone {
    top: 184px;
    left: 5px;
  }

  .hero__phone img {
    width: 266.51px;
    height: 547.27px;
    rotate: 6.48deg;
  }

  .hero__arc {
    margin-top: 155px;
  }

  .hero__arc img {
    width: 546px;
  }

  .hero__logo {
    margin-top: 300px;
  }

  .hero__logo-decor img {
    width: 254px;
    height: 254px;
  }

  .hero__logo-image {
    margin-top: 64px;
  }

  .hero__logo-image img {
    width: 321px;
  }

  .hero__character {
    margin-top: 491px;
    margin-left: 74.45vw;
  }

  .hero__character-img img {
    width: 296px;
  }

  .hero__bubble {
    margin-left: 139px;
    top: 14px;
  }

  .hero__bubble img {
    width: 80px;
    height: 97px;
  }

  .footer__body {
    padding-right: 8.889vw;
  }
}

@media (max-width: 1450px) {
  .offer__main .waffle1 {
    left: 1vw;
  }

  .offer__main .waffle2 {
    left: 1vw;
  }

  .offer__main .waffle4 {
    right: 1vw;
    left: 0;
  }
}

@media (max-width: 1280px) {
  .about__bot-container {
    max-width: 62.5rem;
  }

  .about__top-container {
    width: 62.5rem;
  }

  .review__bot-btn:before {
    border-radius: 12px;
    width: 157px;
    height: 43px;
  }

  .review__bot-btn {
    font-size: 17px;
    border: 1.35px solid #961600;
  }

  .review__bot-btn p {
    padding: 13px 23px;
  }

  .header__bottom {
    gap: 300px;
  }

  .header__bottom-text {
    font-size: 32px;
  }

  .hero__container {
    max-height: 720px;
  }

  .hero__background {
    max-height: 720px;
  }

  .hero .hero__corner-left img,
  .hero .hero__corner-right img {
    width: 240px;
  }

  .hero__body {
    min-height: 720px;
  }

  .hero__button:before {
    border-radius: 12px;
    width: 157px;
    height: 43px;
  }

  .hero__button {
    font-size: 17px;
    border: 1.35px solid #961600;
    right: 7.422vw;
    top: 122px;
  }

  .hero__button p {
    padding: 13px 23px;
  }

  .hero__phone {
    top: 120px;
    left: -100x;
  }

  .hero__phone img {
    width: 252px;
  }

  .hero__arc {
    margin-top: 122px;
  }

  .hero__arc img {
    width: 493px;
  }

  .hero__logo {
    margin-top: 254px;
  }

  .hero__logo-decor img {
    width: 229px;
    height: 229px;
  }

  .hero__logo-image {
    margin-top: 57px;
  }

  .hero__logo-image img {
    width: 287px;
  }

  .hero__character {
    margin-top: 402px;
    margin-left: 74.15vw;
  }

  .hero__character-img img {
    width: 283px;
  }

  .hero__bubble img {
    width: 80px;
    height: 97px;
  }

  .footer__body {
    padding-right: 7.422vw;
  }
}

@media (max-width: 1250px) {
  .offer__main .waffle1 {
    display: none;
  }

  .offer__main .waffle4 {
    display: none;
  }

  .offer__main img {
    right: 25px;
  }
}

@media (max-width: 1240px) {
  .prices__cards {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
    max-width: 57.75rem;
    margin-left: auto;
    margin-right: auto;
  }

  .prices__arrow {
    display: none;
  }
}

@media (max-width: 1200px) {
  .offer__main img {
    max-width: 76vw;
  }
}

@media (max-width: 1140px) {
  .about__bot-container {
    max-width: 57.75rem;
  }

  .about__top-container {
    width: 57.75rem;
  }

  .about__top {
    margin-top: 20px;
  }

  .about__top-text {
    margin-bottom: 76px;
    margin-left: 75px;
  }

  .about__top-hover {
    display: none;
  }

  .about__bot-explain {
    display: block;
  }

  .about__list {
    margin-bottom: 0;
  }

  .about__item-text p {
    height: 100px;
  }

  .review__container-top {
    max-width: 57.75rem;
  }

  .review__bot-title-container {
    max-width: 57.75rem;
  }

  .review__container-bot {
    max-width: 57.75rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .review__title {
    font-size: 32px;
    margin-top: 60px;
    line-height: auto;
    margin-bottom: 40px;
  }

  .review__name {
    font-size: 20px;
  }

  .review__name img {
    width: 78px;
    height: 23px;
    margin-top: 3px;
  }

  .review__desc {
    font-size: 17px;
    line-height: 124%;
  }

  .review__bot {
    margin-top: 0;
  }

  .review__bot-title {
    margin-top: 30px;
  }

  .review__bot-title {
    font-size: 17px;
    padding: 14px 0;
  }

  .review__bot-title span {
    font-size: 20px;
  }

  .review__bot-text {
    margin-top: 124px;
    margin-bottom: 40px;
  }

  .review__bot-btn:before {
    display: none;
  }

  .review__bot-btn {
    font-size: 24px;
    border: 2px solid #961600;
    border-radius: 20px;
    margin-top: 607px;
    right: 0;
  }

  .review__bot-btn p {
    padding: 17px 29px;
  }

  .review__image img {
    width: 926px;
    height: 567px;
  }

  .hero__container {
    max-height: 1114px;
  }

  .hero__background {
    max-height: 1174px;
  }

  .hero .hero__corner-left img,
  .hero .hero__corner-right img {
    width: 228px;
  }

  .hero__body {
    min-height: 1174px;
  }

  .hero__button:before {
    display: none;
  }

  .hero__button {
    font-size: 24px;
    border: 2px solid #961600;
    right: 4.883vw;
    top: 50px;
    border-radius: 20px;
  }

  .hero__button p {
    padding: 17px 29px;
  }

  .hero__phone {
    top: 591px;
    left: 3px;
  }

  .hero__phone img {
    width: 268px;
    rotate: -48.5deg;
  }

  .hero__arc {
    margin-top: 155px;
  }

  .hero__arc img {
    width: 616px;
  }

  .hero__logo {
    margin-top: 320px;
  }

  .hero__logo-decor img {
    width: 286px;
    height: 286px;
  }

  .hero__logo-image {
    margin-top: 71px;
  }

  .hero__logo-image img {
    width: 357px;
  }

  .hero__character {
    margin-top: 729px;
    margin-left: 64.55vw;
  }

  .hero__character-img img {
    width: 343px;
  }

  .hero__bubble img {
    width: 80px;
    height: 97px;
  }

  .footer__body {
    padding-right: 4.883vw;
  }

  .footer__decor img {
    width: 428px;
    height: 756px;
  }
}

@media (max-width: 1100px) {
  .mail__container {
    max-width: 42.5rem;
    padding-right: 15px;
    margin-right: auto;
  }

  .mail__main {
    padding-right: 0;
  }

  .mail__title {
    font-size: 32px;
  }

  .mail__write {
    font-size: 16px;
  }

  .mail__decor {
    display: none;
  }

  .mail__decor img {
    max-width: 23vw;
  }

  .form input[type=text] {
    font-size: 16px;
  }

  .form__contacts {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 25px;
  }

  .form__contacts label {
    width: 100%;
    margin-bottom: 14px;
  }

  .form__contacts input[type=radio] {
    margin-right: 10px;
    margin-left: 0;
    margin-top: 2px;
    top: 2px;
    height: 18px;
    width: 18px;
    border: 4px solid #FCFCFC;
  }

  .form__contacts input[type=radio]:nth-child(n+3) {
    margin-left: 20px;
  }

  .form__telegram img {
    height: 26px;
    width: 26px;
  }

  .form__telegram p {
    margin-top: 3px;
    font-size: 20px;
  }

  .form__whatsapp {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-top: 0px;
  }

  .form__whatsapp img {
    width: 112px;
  }

  .form__mail {
    font-size: 18px;
    margin-top: 1px;
  }

  .form__mail img {
    max-height: 24px;
  }

  .no-webp .form__input textarea{
    background-image: url("../img/textarea-bg-mobile.png"); }

  .form__input textarea {
    font-size: 16px;
    line-height: 23px;
    min-height: 46px;
  }
}

@media (max-width: 1024px) {
  .prices__container {
    margin-top: 160px;
  }

  .prices__cards {
    display: none;
  }

  .prices__card {
    width: 380px;
    height: 350px;
    padding: 30px 35px;
  }

  .prices .bottom-card .prices__card-title {
    font-size: 26px;
    line-height: auto;
  }

  .prices__card-title {
    font-size: 26px;
    line-height: auto;
  }

  .prices__card-text {
    font-size: 17px;
    letter-spacing: normal;
    line-height: 124%;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .prices__card-price {
    font-size: 20px;
    line-height: 150%;
  }

  .prices__card-time {
    font-size: 17px;
    line-height: 124%;
  }

  .card__slide-arrow {
    margin-top: 58px;
    margin-left: 5px;
  }

  .footer__decor img {
    width: 401px;
    height: 723px;
  }
}

@media (max-width: 920px) {
  .prices__container {
    margin-top: 114px;
  }

  .prices__card {
    width: 260px;
    height: 240px;
    padding: 20px 25px;
  }

  .prices .bottom-card .prices__card-title {
    font-size: 18px;
  }

  .prices__card-title {
    font-size: 18px;
  }

  .prices__card-text {
    font-size: 12px;
    margin-top: 14px;
    letter-spacing: normal;
  }

  .prices__card-price {
    font-size: 14px;
    line-height: 150%;
  }

  .prices__card-time {
    font-size: 12px;
    line-height: 124%;
  }

  .prices__card-time {
    font-size: 9px;
    line-height: 124%;
  }

  .card__slide-arrow {
    margin-top: 40px;
    margin-left: 3px;
  }

  .card__slide-arrow img {
    width: 177px;
    height: 132px;
  }

  .review__container-top {
    max-width: 43.75rem;
  }

  .review__bot-title-container {
    max-width: 43.75rem;
  }

  .review__container-bot {
    max-width: 43.75rem;
  }

  .review__title {
    font-size: 28px;
    margin-bottom: 30px;
  }

  .review__name {
    font-size: 14px;
  }

  .review__name img {
    width: 58px;
    height: 17px;
    margin-top: 3px;
  }

  .review__desc {
    font-size: 12px;
  }

  .review__bot {
    padding-bottom: 0;
  }

  .review__bot-title {
    font-size: 15px;
    padding: 9px 0;
  }

  .review__bot-title span {
    font-size: 18px;
  }

  .review__bot-title-icon img {
    width: 19px;
    height: 32px;
  }

  .review__bot-owner {
    margin-top: 8px;
  }

  .review__bot-text {
    font-size: 12px;
    margin-top: 92px;
    margin-bottom: 30px;
  }

  .review__bot-btn {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-top: 490px;
    right: 34px;
    font-size: 19px;
    border: 1.5px solid #961600;
    border-radius: 16px;
  }

  .review__bot-btn p {
    padding: 15px 24px 14px 25px;
  }

  .review__image img {
    width: 700px;
    height: 430px;
  }

  .header__bottom {
    gap: 119px;
  }

  .header__bottom-text {
    font-size: 28px;
  }

  .hero__container {
    max-height: 881px;
  }

  .hero__background {
    display: none;
  }

  .hero__background-mob {
    display: block;
  }

  .hero .hero__corner-left img,
  .hero .hero__corner-right img {
    width: 154px;
  }

  .hero__body {
    min-height: 881px;
  }

  .hero__button {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 19px;
    border: 1.5px solid #961600;
    right: 4.427vw;
    top: 35px;
    border-radius: 16px;
  }

  .hero__button p {
    padding: 15px 24px 14px 25px;
  }

  .hero__phone {
    top: 414px;
    left: -31px;
  }

  .hero__phone img {
    width: 212px;
  }

  .hero__arc {
    margin-top: 121px;
  }

  .hero__arc img {
    width: 486px;
  }

  .hero__logo {
    margin-top: 251px;
  }

  .hero__logo-decor img {
    width: 226px;
    height: 226px;
  }

  .hero__logo-image {
    margin-top: 57px;
  }

  .hero__logo-image img {
    width: 284px;
  }

  .hero__character {
    margin-top: 575px;
    margin-left: 0;
    right: 0;
  }

  .hero__character-img {
    right: 0;
  }

  .hero__character-img img {
    width: 271px;
  }

  .hero__bubble {
    right: 0;
  }

  .hero__bubble img {
    width: 80px;
    height: 97px;
  }

  .footer {
    margin-top: 207px;
  }

  .footer__container {
    margin-top: 0;
  }

  .footer__body {
    padding-right: 0;
    width: 100vw;
    min-height: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__decor {
    display: none;
  }

  .footer__text {
    margin-top: 40px;
  }

  .footer__time {
    font-size: 21px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100vw;
  }

  .footer__time span {
    font-size: 31px;
  }

  .footer__time-bot {
    font-size: 16px;
    text-align: center;
  }

  .footer__contacts-title {
    margin-top: 50px;
    font-size: 16px;
    text-align: center;
  }

  .footer__contacts-tg {
    margin-right: auto;
  }

  .footer__contacts-wa {
    margin-right: auto;
  }

  .footer__logo {
    display: block;
  }
}

@media (max-width: 870px) {
  .about__bot-container {
    max-width: 43.75rem;
  }

  .about__top-container {
    width: 43.75rem;
  }

  .about__top {
    margin-top: 17px;
  }

  .about__top-text {
    margin: 38px 0;
    font-size: 18px;
  }

  .about__bot-title {
    margin-top: 50px;
  }

  .about__bot-explain {
    margin-top: 80px;
    margin-bottom: 73px;
  }

  .about__bot-explain img {
    width: 447px;
    height: 214px;
  }

  .about__list {
    margin-top: 50px;
  }

  .about__item-counter {
    font-size: 22px;
    min-width: 30px;
    height: 30px;
  }

  .about__item-counter p {
    margin: 10px auto;
  }

  .about__item-text p {
    height: 70px;
  }

  .about__text span {
    font-size: 15px;
  }

  .about__text {
    font-size: 12px;
    line-height: 124%;
  }
}

@media (max-width: 820px) {
  .form {
    font-size: 12px;
  }
}

@media (max-width: 720px) {
  .review__bot-btn {
    margin-top: 68.06vw;
  }

  .review__image img {
    width: 91.146vw;
    height: 55.99vw;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 671px) {
  .hero__bubble {
    margin-left: 134px;
    top: 39px;
  }

  .hero__bubble img {
    width: 58px;
    height: 68px;
  }

  .hero__bubble-mobile {
    display: block;
  }
}

@media (max-width: 670px) {
  .header__bottom {
    gap: 90px;
  }

  .header__bottom-text {
    font-size: 18px;
  }

  .hero__container {
    max-height: 598px;
  }

  .hero__background-mob {
    display: none;
  }

  .hero .hero__corner-left,
  .hero .hero__corner-right {
    display: none;
  }

  .hero__body {
    min-height: 598px;
  }

  .hero__button {
    font-size: 10px;
    border: 1px solid #961600;
    right: 4.167vw;
    top: 14px;
    border-radius: 9px;
  }

  .hero__button p {
    padding: 9px 14px 7px 13px;
  }

  .hero__phone {
    display: none;
  }

  .hero__arc {
    display: none;
  }

  .hero__logo {
    margin-top: 135px;
  }

  .hero__logo-decor img {
    width: 159px;
    height: 159px;
  }

  .hero__logo-image {
    margin-top: 39px;
    margin-left: 1px;
  }

  .hero__logo-image img {
    width: 202px;
  }

  .hero__character {
    display: none;
  }

  .hero__character-img {
    display: none;
  }
}

@media (max-width: 650px) {
  .mail__lower-button {
    padding: 15px 15px;
    margin-right: 0;
  }
}

@media (max-width: 550px) {
  .prices__container {
    margin-top: 88px;
  }

  .prices__card {
    width: 240px;
    height: 200px;
    padding: 20px 30px;
  }

  .prices .bottom-card .prices__card-title {
    font-size: 18px;
  }

  .prices__card-text {
    font-size: 9px;
  }

  .prices__card-price {
    font-size: 12px;
  }

  .card__slide-arrow {
    margin-top: -2px;
    margin-left: -18px;
  }

  .card__slide-arrow img {
    width: 177px;
    height: 132px;
  }

  .review__container-top {
    max-width: 20.625rem;
  }

  .review__bot-title-container {
    max-width: 20.625rem;
  }

  .review__container-bot {
    max-width: 20.625rem;
  }

  .review__title {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .review__name {
    font-size: 12px;
  }

  .review__name img {
    margin-top: 0px;
  }

  .review__desc {
    font-size: 9px;
  }

  .review__bot-title {
    font-size: 9px;
    padding: 6px 0;
    margin-top: 13px;
  }

  .review__bot-title span {
    font-size: 12px;
    line-height: 150%;
  }

  .review__bot-text {
    font-size: 9px;
    margin-top: 65px;
    margin-bottom: 20px;
  }

  .review__bot-btn {
    margin-top: 517px;
    right: 34px;
    font-size: 10px;
    border: 1px solid #961600;
    border-radius: 9px;
  }

  .review__bot-btn p {
    padding: 9px 14px 7px 13px;
  }

  .review__image img {
    display: none;
  }

  .review__image-mobile {
    display: block;
  }

  .footer {
    margin-top: 161px;
  }
}

@media (max-width: 520px) {
  .about__bot-container {
    max-width: 20.625rem;
  }

  .about__top-container {
    width: 20.625rem;
  }

  .about__top-text {
    margin: 38px 0;
    font-size: 13px;
  }

  .about__bot-title {
    margin-top: 28px;
  }

  .about__bot-explain {
    margin-top: 25px;
    margin-bottom: 4px;
  }

  .about__bot-explain img {
    width: 273px;
    height: 165px;
  }

  .about__list {
    margin-top: 28px;
  }

  .about__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .about__item-counter {
    width: 30px;
    margin-bottom: 15px;
  }

  .about__text span {
    font-size: 12px;
  }

  .about__text {
    font-size: 9px;
    line-height: 124%;
  }
}

@media (max-width: 475px) {
  .mail__lower-button {
    right: 0px;
  }
}

@media (max-width: 390px) {
  .mail__lower-button {
    right: 0px;
  }
}

@media (max-width: 61.99875em) {
  .mail__lower {
    font-size: 16px;
  }

  .offer {
    background-size: 50%;
  }
}

@media (max-width: 48.06125em) {
  .third-card {
    font-size: 14px;
  }

  .mail__upper {
    margin-right: auto;
  }

  .mail__title {
    font-size: 20px;
  }

  .mail__write {
    font-size: 12px;
  }

  .mail__form {
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .mail__lower {
    font-size: 12px;
    margin-top: 15px;
  }

  .mail__pin img {
    max-width: 24px;
  }

  .mail__decor {
    margin-top: 260px;
    display: none;
  }

  .mail__disclaimer {
    font-size: 12px;
    margin-top: 15px;
  }

  .form input[type=text] {
    margin-top: 15px;
  }

  .offer__date {
    margin-top: 20px;
    margin-left: 15px;
  }

  .offer__main {
    margin-bottom: 15px;
  }

  .hero__background {
    display: none;
  }
}

@media (max-width: 29.99875em) {
  .form-checkbox {
    height: 8px;
    width: 8px;
  }

  .mail__form {
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .mail__lower {
    margin-top: 15px;
    font-size: 10px;
  }

  .mail__pin img {
    max-width: 20px;
  }

  .mail__disclaimer {
    font-size: 10px;
    margin-top: 15px;
  }

  .offer__main img {
    max-width: 80vw;
  }

  .offer__btn p {
    padding: 15px 20px;
  }

  .offer__btn {
    margin-right: auto;
    margin-left: auto;
  }
}

@media (any-hover: hover) {
  .prices__card:hover {
    color: #FFFFFF;
    background-color: #FFBA49;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .prices__card:hover .prices__card-button-default {
    opacity: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .prices__card:hover .prices__card-button-hover {
    opacity: 1;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .prices__card-button-hover:hover {
    cursor: pointer;
    position: relative;
    top: 2px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .review__bot-btn:hover {
    cursor: pointer;
    color: #FFFFFF;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .review__bot-btn:hover:before {
    background-color: #F9A003;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .offer__btn:hover {
    cursor: pointer;
    color: #FFFFFF;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .offer__btn:hover:before {
    background-color: #F9A003;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .hero__button:hover {
    cursor: pointer;
    color: #FFFFFF;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .hero__button:hover:before {
    background-color: #F9A003;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
}

.webp .review__bot-title{ background-image: url(../img/review-decor.webp); }

.webp .form__input textarea{ background-image: url(../img/textarea-bg.webp); }

@media (max-width: 1100px){

  .webp .form__input textarea{ background-image: url(../img/textarea-bg-mobile.webp); }
}